.ed-img-av {
  width: 100px;
}
.container-ed-users {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.container-ed-users h3 {
  margin: 0;
}
.container-ed-users tr {
  background-color: white;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.ed-name {
  width: 5rem;
  text-align: center;
}
.ed-last-name {
  width: 5rem;
  text-align: center;
}
.ed-email {
  width: 17rem;
  text-align: center;
}
.ed-tipo {
  width: 5rem;
  text-align: center;
}
.ag-but {
  width: 10rem;
  text-align: center;
}
.switchBtn {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}
.switchBtn input {
  display: none;
}
.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #96d68a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 8px;
  color: #fff;
}
.slide:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 38px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slide {
  background-color: #fa0000;
  padding-left: 40px;
}
input:focus + .slide {
  box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -20px;
}
.slide.round {
  border-radius: 34px;
}
.slide.round:before {
  border-radius: 50%;
}
