.filtaa-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-left: 8rem;
}
.filt-tipo {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  width: 7rem;
}
.filt-tipo label:hover {
  font-weight: 600;
  cursor: pointer;
  width: 7rem;
}
.filt-relleno {
  display: flex;
  flex-direction: column;
  width: 8rem;
  font-weight: 400;
}
.filt-relleno label:hover {
  font-weight: 600;
  cursor: pointer;
  width: 8rem;
}
#borrar-filtros {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9e1f1f;
  color: #ffffff;
  width: 10rem;
  height: 2rem;
  text-align: center;
}
#borrar-filtros:hover {
  cursor: pointer;
}
