.container-Cards{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px ;
}
.container-Cards:hover{
    cursor: pointer;
}
.card {
    width: 150px;
    height: 220px;
    border-radius: 5px;
    background: #ffffff;
    position: relative;
    padding: 1.8rem;
    box-shadow: 2px 2px 10px 1px rgb(100, 100, 100);
    transition: 0.5s ease-out;
    overflow: visible;
   }
   .card:hover{
    box-shadow: 2px 2px 10px 6px rgb(100, 100, 100);
   }

   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   .cardetails img{
    width: 130px;
    height: 130px;
	object-fit: cover;
    filter:brightness(1.1);
    mix-blend-mode: multiply;
   }
   .cardetails p{
    font-family: 'Phudu', cursive;
    color: rgb(43, 43, 43);
   }
   .cardetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   
   .text-title{
    font-size: 20px;
    text-align: center;
    margin: 0;
   }
   .text-brand{
   font-size: 15px;
  margin: 0;
  text-align: center;
   }
   .text-price{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
   }