.orde-pag {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.orde-pag label {
  margin-left: 25%;
}
.orden-tecto-1 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 100px;
}
#ordenPrecio {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  font-weight: 600;
}
#ordenPrecio:hover {
  cursor: pointer;
}
#ordenPrecio:focus {
  outline: none;
}
.bodyDark #ordenPrecio {
  color: white;
}
.bodyDark #ordenPrecio option {
  color: black;
}
