body {
  padding: 0;
}
.landing-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin-bottom: 100px;
  margin-top: 100px;
}
.landing-principal img {
  width: 230px;
}
.kkiajs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  margin-top: 2rem;
}
.land-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-family: 'Phudu', cursive;
}
.land-text h1 {
  font-size: 100px;
  margin: 0%;
  text-shadow: 4px 4px 10px #000000;
}
.land-text h2 {
  margin: 0%;
  margin-left: 20px;
  font-size: 60px;
  text-shadow: 4px 4px 10px #000000;
}
.land-text p {
  margin: 0%;
  margin-left: 20px;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
}
.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(https://res.cloudinary.com/dzuasgy3l/image/upload/v1677873430/mrc7vxmx2wwvdx5l0kdg.jpg);
}
.landing-fotos {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  align-items: center;
  column-gap: 100px;
  margin-bottom: 100px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}
.landing-fotos img {
  scroll-snap-align: center;
}
.landing-boton button {
  font-family: 'Phudu', cursive;
  color: #ffffff;
  margin-top: 40px;
  width: 200px;
  height: 40px;
  background-color: #0aa7ca;
  border-radius: 4px;
  font-size: 20px;
  border: none;
}
.landing-boton button:hover {
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 0px 10px 1px #ffffff;
}
#carrusel-caja {
  display: flex;
  animation: automatizacion 20s infinite linear;
  transition: all 1s ease;
  margin-top: 17px;
  width: 200%;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}
#carrusel-caja img {
  width: 200px;
}
#carrusel-contenido {
  overflow: hidden;
  margin: 0;
  width: 100%;
 
}
.landing-t2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
.landing-t1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
.imagenes {
  width: 100%;
}
.carru {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200%;
}
@keyframes automatizacion {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}
