@media only screen and (min-width: 140px) and (max-width: 100px) {
  .landing-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 245, 245);
    width: 250px;
    height: 250px;
          
  }
  .landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .landing-fotos {
    align-items: center;
    column-gap: 10px;
    margin-bottom: 10px;
    width:50px;
            height:50px;
  }
  .landing-boton {
    color: rgb(230, 170, 61);
    margin-left: 10%;
    border-radius: 3em;
    border: none;
    cursor: pointer;
    background-color: rgb(17, 32, 233);
    font-size: 30px;
    /* font-weight: bold; */
    font-style: oblique;
    box-shadow: 0rem 0.1875rem 0.375rem rgb(12, 1, 1);
  }
  
  #landing-boton:hover {
    background-color: rgb(241, 197, 116);
    color: rgb(211, 124, 43);
  }
  
}
