@desktop: ~"only screen and (min-width: 1401px) and (max-width: 1000000px)";
@tablet: ~"only screen and (min-width: 1000px) and (max-width: 1400px)";
@bigMobile: ~"only screen and (min-width: 701px) and (max-width: 999px)";
@mobile: ~"only screen and (min-width: 0px) and (max-width: 700px)";

@font:'Open Sans', sans-serif;
@pNormal:  #c94d18;
@pClaro:  #c94d18;
@pOscuro:  #c94d18;
@jNormal:  #c94d18;
@Jclaro:  #c94d18;
@jOscuro:  #c94d18;
@backG:  #c94d18;
@backG2:  #c94d18;
@backG3:  #c94d18;
@backG4:  #c94d18;



@media @desktop{
    .landing-principal{
        display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 245, 245);
    width: 2500px;
    height: 2500px;
    }
    .landing-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .landing-fotos{
        display: grid;
        grid-template-columns: 20px 20px 20px 20px;
        align-items: center;
        column-gap: 100px;
        margin-bottom: 100px;
    }
    .landing-boton {
        color: rgb(230, 170, 61);
        margin-left: 10%;
        border-radius: 3em;
        border: none;
        cursor: pointer;
        background-color: rgb(17, 32, 233);
        font-size: 30px;
        /* font-weight: bold; */
        font-style: oblique;
        box-shadow: 0rem 0.1875rem 0.375rem rgb(255, 255, 255);
        height: 1000px;
      }
      
      #landing-boton:hover {
        background-color: rgb(241, 197, 116);
        color: rgb(211, 124, 43);
      }


}


@media @tablet{
    .landing-principal{
        display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 245, 245);
    width: 2500px;
    height: 2500px;
    }
    .landing-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .landing-fotos{
        display: grid;
        grid-template-columns: 20px 20px 20px 20px;
        align-items: center;
        column-gap: 100px;
        margin-bottom: 100px;
    }
    .landing-boton {
        color: rgb(230, 170, 61);
        margin-left: 10%;
        border-radius: 3em;
        border: none;
        cursor: pointer;
        background-color: rgb(17, 32, 233);
        font-size: 30px;
        /* font-weight: bold; */
        font-style: oblique;
        box-shadow: 0rem 0.1875rem 0.375rem rgb(255, 255, 255);
        height: 100px;
      }
      
      #landing-boton:hover {
        background-color: rgb(241, 197, 116);
        color: rgb(211, 124, 43);
      }
}
@media @bigMobile{
    
}
@media @mobile{
    
}