@desktop: ~"only screen and (min-width: 1401px) and (max-width: 1000000px)";
@tablet: ~"only screen and (min-width: 1000px) and (max-width: 1400px)";
@bigMobile: ~"only screen and (min-width: 701px) and (max-width: 999px)";
@mobile: ~"only screen and (min-width: 0px) and (max-width: 700px)";

@font:'Open Sans', sans-serif;
@pNormal:  #c94d18;
@pClaro:  #c94d18;
@pOscuro:  #c94d18;
@jNormal:  #c94d18;
@Jclaro:  #c94d18;
@jOscuro:  #c94d18;
@backG:  #c94d18;
@backG2:  #c94d18;
@backG3:  #c94d18;
@backG4:  #c94d18;



@media @desktop{
    .landing-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        background-color: aqua;
        margin-bottom: 100px;
    }
    .landing-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .landing-fotos{
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        align-items: center;
        column-gap: 100px;
        margin-bottom: 100px;
    }


}


@media @tablet{
    
}
@media @bigMobile{
    
}
@media @mobile{
    
}