.login-container {
  height: 100vh;
  /* background: #141631;
  background: -moz-linear-gradient(left, #141631 0%, #222358 50%, #0B0B1D 100%);
  background: -webkit-linear-gradient(left, #141631 0%, #222358 50%, #0B0B1D 100%);
  background: linear-gradient(to right, #141631 0%, #222358 50%, #0B0B1D 100%); */
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
